*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
	oveflow:hidden;
	
}
html{
	oveflow:hidden;
}

li{
	display:block;
	border:0;
}
#main{
	height:100%;
	position:relative;
	background-image:url('../../images/540/ikony_narezani_smart_TV-01.png');
	background-repeat:no-repeat;
	background-size:auto;
}
#topbar{
	width:100%;
	min-height:50px;
	font-size: 20px;
	margin:10px;
	margin-left:5px;
	background-color:yellow;
}

#middle{
	width:1280px;
	margin-top:-20px;
}
#middle-left:{
	float:left;
	width:width:600px;
}
#middle-right{
	float:right;
	position:absolute;
	right:20px;
	top:30px;
	bottom:20px;
}
#devices{
	
}
#rooms{
	
}
#favorites{
	
}
#scenes{
	
}

#popup {
	width: 300px;
	height: 100px;
	background-color: #fff;
	top: 50%;
	left: 50%;
}


.mainSection{
	margin:5px;
	margin-top:30px;
	margin-left:20px;
	color:white;
	float:left;
	width:540px;
	height:320px;
	background-image:url('../../images/540/vycet_zarizeni-01.png');
	clear:left;
}
.sectionLabel{
	background-repeat:no-repeat;
	background-size:auto;
	width:270px;
	height:90px;
	line-height:90px;
	margin-top:20px;
	margin-left:20px;
	text-align: center;
	float:left;
	color:white;
}
.sectionLabel:nth-child(1){
	margin-top:50px;
}
.sectionLabel:nth-child(2){
	margin-top:50px;
}
#rooms_header{
	width:520px;
	height:30px;
	background-image:url('../../images/540/vycet_pruh_R.png');
	float:left;
	margin-top:10px;
	margin-left:0px;
	padding-top:10px;
	padding-left:20px;
}
#devices_header{
	width:520px;
	height:30px;
	background-image:url('../../images/540/vycet_pruh_G.png');
	float:left;
	margin-top:10px;
	margin-left:0px;
	padding-top:10px;
	padding-left:20px;
}
#favorites_header{
	width:520px;
	height:30px;
	background-image:url('../../images/540/vycet_pruh_Y.png');
	float:left;
	margin-top:10px;
	margin-left:0px;
	padding-top:10px;
	padding-left:20px;
}
#scenes_header{
	width:520px;
	height:30px;
	background-image:url('../../images/540/vycet_pruh_B.png');
	float:left;
	margin-top:10px;
	margin-left:0px;
	padding-top:10px;
	padding-left:20px;
}

#rooms_label{
	background-image:url('../../images/540/red_off-02.png');	
}
#rooms_label[active]{
	background-image:url('../../images/540/red_on-02.png');
}
#devices_label{
	background-image:url('../../images/540/green_off-02.png');
}
#devices_label[active]{
	background-image:url('../../images/540/green_on-02.png');
}
#favorites_label{
	clear:left;
	background-image:url('../../images/540/yellow_of-02.png');
}
#favorites_label[active]{
	clear:left;
	background-image:url('../../images/540/yellow_on-02.png');
}
#scenes_label{
	background-image:url('../../images/540/blue_off-02.png');
}
#scenes_label[active]{
	background-image:url('../../images/540/blue_on-02.png');
}
.mainSection ul{
	width:540px;
	height:320px;
	float:left;
	margin-top:0px;
	margin-left:15px;
}
.mainSection li{
	oveflow:hidden;
	background-image:url('../../images/540/dlazdice_off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	width:87px;
	height:87px;
	display:block;
	float:left;
}

.room_label{
	font-size:14px;
	white-space: nowrap;
	width:72px;
	margin-left:6px;
	margin-right:6px;
	margin-top:6px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	font-size: 11px;
	font-weight: lighter;
	text-align: center;
}
.mainSection li.selected{
	background-image:url('../../images/540/dlazdice_on-01.png');
}
#plan_name{
	color:white;
	font-size:24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	min-height:30px;
}
#plan{
	color:white;
	float:left;
	width:620px;
	height:530px;
	background-image:url('../../images/540/floorplan-01.png');
	background-repeat:no-repeat;
	background-size:620px 530px;
}
#device_info{
	color:white;
	width: 620px;
	height:100px;
	position:absolute;
	bottom:0px;
	display:none;
	background-image:url('../../images/540/info_zarizeni-01.png');
	background-repeat:no-repeat;
	background-size:620px 100px;
}



.device_label{
	font-size:14px;
	white-space: nowrap;
	width:72px;
	margin-left:6px;
	margin-right:6px;
	margin-top:6px;
	overflow: hidden;
	display: block;
	float:left;
	text-overflow: ellipsis ;
	font-size: 11px;
	font-weight: lighter;
	text-align: center;
}
.device_image{
	display:block;
	width:45px;
	height:36px;
	background-repeat:no-repeat;
	background-size:contain;
	margin-left:22px;
	margin-top:8px;
	float:left;
}
li .device_image[dev_type="heating"]{
	background-image:url('../../images/540/zarizeni_mistnost/ventilace_off.png');
}
li[on="on"] .device_image[dev_type="heating"]{
	background-image:url('../../images/540/zarizeni_mistnost/ventilace_on.png');
}
li .device_image[dev_type="thermometer"]{
	background-image:url('../../images/540/zarizeni_mistnost/teplota_off.png');
}
li[on="on"] .device_image[dev_type="thermometer"]{
	background-image:url('../../images/540/zarizeni_mistnost/teplota_on.png');
}
li .device_image[dev_type="light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
li[on="on"] .device_image[dev_type="light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_on.png');
}
li .device_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
li[on="on"] .device_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_on.png');
}
li .device_image[dev_type="rgb light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
li[on="on"] .device_image[dev_type="rgb light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_on.png');
}
li .device_image[dev_type="audio player"]{
	background-image:url('../../images/540/zarizeni_mistnost/obyvak_off.png');
}
li[on="on"] .device_image[dev_type="audio player"]{
	background-image:url('../../images/540/zarizeni_mistnost/obyvak_on.png');
}
li .device_image[dev_type="blinds"]{
	background-image:url('../../images/540/zarizeni_mistnost/zaluzie_off.png');
}
li[on="on"] .device_image[dev_type="blinds"]{
	background-image:url('../../images/540/zarizeni_mistnost/zaluzie_on.png');
}
li .device_image[dev_type="room"]{
	background-image:url('../../images/540/zarizeni_mistnost/dum_on.png');
}
li .device_image[dev_type="scene"]{
	margin-top:15px;
	background-image:url('../../images/540/zarizeni_mistnost/sceny_on.png');
}

.device_check{
	display:block;
	width:55px;
	height:7px;
	background-repeat:no-repeat;
	background-size:contain;
	float:left;
	background-image:url('../../images/540/dlazdice_stav_off-01.png');
	margin-left:18px;
	
}

.device_check[on]{
	background-image:url('../../images/540/dlazdice_stav_on-01.png');
}

.plan{
	background-repeat: no-repeat;
	width:620px;
	height:530px;
	background-size:620px 530px;
	background-position:center;
	position:relative;
}
.device_info{
	display:none;
}
.device_info .device_image{
	width:80px;
	height:80px;
	display:inline-block;
	float:left;
	background-size:80px 80px;
	margin-top:10px;
}
.device_info[dev_type="heating"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/ventilace_on.png');
}
.device_info[dev_type="heating"][on="on"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/ventilace_on.png');
}
.device_info[dev_type="thermometer"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/teplota_on.png');
}
.device_info[dev_type="thermometer"][on="on"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/teplota_on.png');
}
.device_info[dev_type="light"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="light"][on="on"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="dimmed light"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="dimmed light"][on="on"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="rgb light"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="rgb light"][on="on"] .device_image{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png');
}
.device_info[dev_type="audio player"] .device_image{
	
}
.device_info[dev_type="audio player"][on="on"] .device_image{
	
}
.selected_last{
	background-color:navy;
}
.status{
	width:42px;
	height:41px;
	border: 2px solid black;
	position:absolute;
	padding-top:4px;
	background-image:url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
	background-repeat:no-repeat;
	background-position:center;
}
.info_info{
	float:left;
	padding:10px;
	width:220px;
	margin-top:10px;
	oveflow:hidden;
}
.info_state{
	float:left;
	width:170px;
	margin-top:30px;
	padding:10px;
	oveflow:hidden;
	max-height:65px;
}
.device_action{
	float:right;
	margin-top:0px;
}
.actions{
	float:left;
}
.actions li[action_param="true"]{
	margin-top:20px;
	width:80px;
	oveflow:hidden;
	height:60px;
	float:right;
	background-image:url('../../images/540/off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	margin-left:5px;
}
.actions li[action_param="false"]{
	margin-top:20px;
	width:80px;
	oveflow:hidden;
	height:60px;
	float:right;
	background-image:url('../../images/540/on-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	margin-left:5px;
}
.actions div[action_param="roll up"]{
	margin-top:20px;
	width:80px;
	oveflow:hidden;
	height:60px;
	float:right;
	background-image:url('../../images/540/blinds_down.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	margin-left:5px;
}
.actions div[action_param="roll down"]{
	margin-top:20px;
	width:80px;
	oveflow:hidden;
	height:60px;
	float:right;
	background-image:url('../../images/540/blinds_up.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	margin-left:5px;
}
.actions li.selected{
	background-color:grey;
}
.info_actions{
	float:left;
}

#ip_setting{
	font-size: 20px;
	color:white;
	padding-left:20px;
	padding-top:50px;
	float:left;
}
#ip_setting input{
	font-size: 20px;
	height:22px;
	
}
.brightness_container{
	width:315px;
	height:16px;
	background-image:url('../../images/540/slider_off-11.png');
	background-repeat: no-repeat;
	display:block;
	margin-top:15px;
	float:left;
	
}
.brightness_container_before{
	content:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin-left:20px;
	margin-top:10px;
}
.brightness_container_after{
	content:url('../../images/540/zarizeni_mistnost/zarovka_on.png');
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin-top:10px;
}

.brightness_container_help{
	display:block;
	float:left;
	margin-top:16px;
	margin-left:20px;
	font-size:15px;
	font-weight:bolder;
	color:white;
}

.brightness_top_info{
	display:block;
	float:left;
	margin-top:10px;
	margin-left:12px;
	font-size:20px;
	font-weight:bolder;
	color:white;
}

.brightness{
	height:16px;
	background-image:url('../../images/540/slider_on-11.png');
	background-repeat: no-repeat;
	display:block;
	overflow: visible;
	position:relative;
	min-width:8px;
	max-width:306px;
}
.brightness img{
	height:16px;
	width:16px;
	float:right;
	position:absolute;
	right:0;
	margin-right:-8px;
}

.device_state_txt{
	font-size:20px;
}
.device_state_txt_on_off{
	font-size:20px;
	font-weight:bolder;
}
#left_device_info{
	display:block;
	width:550px;
	height:100px;
	float:left;
	clear:left;
	margin-left:20px;
	display:none;
}
.left_device_info{
	background-image:url('../../images/540/pozadi_RGB-01.png');
	background-repeat: no-repeat;
	display:block;
	width:550px;
	height:100px;
	float:left;
	display:none;
}
.left_info_top{
	width:550px;
	height:30px;
	float:left;
	margin-left:16px;
	margin-top:6px;
}
.left_info_bottom{
	width:550px;
	height:70px;
	float:left;
}
.color{
	float:left;
	width:58px;
	height:38px;
	background-repeat: no-repeat;
	display:block;
}
.color1{
	background-image:url('../../images/540/rgb/off-01.png');
}
.color2{
	background-image:url('../../images/540/rgb/off-02.png');
}
.color3{
	background-image:url('../../images/540/rgb/off-03.png');
}
.color4{
	background-image:url('../../images/540/rgb/off-04.png');
}
.color5{
	background-image:url('../../images/540/rgb/off-05.png');
}
.color6{
	background-image:url('../../images/540/rgb/off-06.png');
}
.color7{
	background-image:url('../../images/540/rgb/off-07.png');
}
.color8{
	background-image:url('../../images/540/rgb/off-08.png');
}
.color9{
	background-image:url('../../images/540/rgb/off-09.png');
}
.color1[active_color]{
	background-image:url('../../images/540/rgb/on-01.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color2[active_color]{
	background-image:url('../../images/540/rgb/on-02.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color3[active_color]{
	background-image:url('../../images/540/rgb/on-03.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color4[active_color]{
	background-image:url('../../images/540/rgb/on-04.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color5[active_color]{
	background-image:url('../../images/540/rgb/on-05.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color6[active_color]{
	background-image:url('../../images/540/rgb/on-06.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color7[active_color]{
	background-image:url('../../images/540/rgb/on-07.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color8[active_color]{
	background-image:url('../../images/540/rgb/on-08.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
.color9[active_color]{
	background-image:url('../../images/540/rgb/on-09.png'), url('../../images/540/rgb/bcg_ON_RGB.png');
}
#sett_top{
	width:1280px;
	height:136px;
	background-image:url('../../images/540/konfigurace_oblibene/vrchni_lista.png');
	margin-top:10px;
	float:left;
}
#sett_top .sectionLabel{
	margin-top:25px;
	margin-left:45px;
}
#sett_top #favorites_label{
	clear:none;
}
#sett_bottom{
	float:left;
	clear:left;
}
#sett_favorites{
	float:left;
}
#sett_favorites_left{
	background-image:url('../../images/540/konfigurace_oblibene/nahled_zarizeni.png');
	float:left;
	margin-left:50px;
	margin-top:20px;
	width:570px;
	height:525px;
}
#sett_favorites_right{
	background-image:url('../../images/540/konfigurace_oblibene/nahled_zarizeni.png');
	float:left;
	margin-left:50px;
	margin-top:20px;
	width:570px;
	height:525px;
}
.sett_fav_label{
	float:left;
	background-image:url('../../images/540/konfigurace_oblibene/vycet_pruh_R.png');
	width:547px;
	height:30px;
	text-align: center;
	margin-left:12px;
	margin-top:12px;
	color:white;
	font-size: 20px;
	padding-top:10px;
	padding-bottom:0px;
	overflow:hidden;
}
#sett_scenes_right .sett_fav_label{
	background-image:url('../../images/540/konfigurace_oblibene/vycet_pruh_G.png');
}
.sett_room_label{
	clear:left;
	float:left;
	background-image:url('../../images/540/konfigurace_oblibene/pas_mistnosti.png');
	width:547px;
	height:25px;
	text-align: center;
	margin-left:0px;
	color:white;
	font-size: 18px;
	padding-top:5px;
	padding-bottom:0px;
	overflow:hidden;
}
#sett_favorites_left_devices{
	margin-left:12px;
	overflow:hidden;
	height:460px;
	width:567px;
}

#sett_favorites_right_devices{
	margin-left:12px;
	height:460px;
	width:567px;
}
#sett_favorites_left_devices li{
	oveflow:hidden;
	background-image:url('../../images/540/dlazdice_off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	width:87px;
	height:87px;
	display:block;
	float:left;
	color:white;
}
#sett_favorites_right_devices li{
	oveflow:hidden;
	background-image:url('../../images/540/dlazdice_off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	width:87px;
	height:87px;
	display:block;
	float:left;
	color:white;
}
#sett_favorites_left_devices li.selected{
	background-image:url('../../images/540/dlazdice_on-01.png');
}
#sett_favorites_right_devices .device_image{
	margin-top:15px;
}
.fav_checked{
	float:left;
	width:17px;
	height:17px;
	margin-top:15px;
	margin-left:10px;
	margin-bottom:-25px;
	background-image:url('../../images/540/konfigurace_oblibene/oznaceni_off.png')
}
.fav_checked[checked]{
	background-image:url('../../images/540/konfigurace_oblibene/oznaceni_on.png')
}
#sett_scenes_right_devices li.selected{
	background-image:url('../../images/540/dlazdice_on-01.png');
}
#sett_scenes_right{
	background-image:url('../../images/540/konfigurace_oblibene/nahled_zarizeni.png');
	float:left;
	margin-left:50px;
	margin-top:20px;
	width:570px;
	height:525px;
}
#sett_scenes_right_devices{
	margin-left:12px;
	overflow:hidden;
	height:460px;
	width:567px;
}
#sett_scenes_right_devices li{
	oveflow:hidden;
	background-image:url('../../images/540/dlazdice_off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	width:87px;
	height:87px;
	display:block;
	float:left;
	color:white;
}
#sett_scenes_left{
	margin-left:50px;
	margin-top:20px;
	width:600px;
	height:525px;
	float:left;
}
#sett_scenes_left_devices li{
	oveflow:hidden;
	background-image:url('../../images/540/sceny/dlazdice_off-01.png');
	background-repeat:no-repeat;
	background-size:auto;
	width:91px;
	height:91px;
	display:block;
	float:left;
	color:white;
}
#sett_scenes_left_devices li.selected{
	background-image:url('../../images/540/sceny/dlazdice_on-01.png');
}
#sett_scenes_left_devices .device_image{
	margin-top:18px;
}
#sett_scenes_left_name{
	float:left;
	width:500px;
	height:100px;
}
#sett_scenes_left_name_label{
	float:left;
	width:500px;
	height:25px;
	margin-top:10px;
	color:white;
	font-size:18px;
}
#sett_scenes_left_name_edit{
	float:left;
	width:438px;
	height:68px;
	background-image:url('../../images/540/sceny/edit_nazev-07.png');
	clear:left;
	white-space: pre;
}
#sett_scenes_left_scene_image{
	float:left;
	background-image:url('../../images/540/scena.png'),url('../../images/540/sceny/nahled_ikona-10.png');
	width:90px;
	height:90px;
	background-size:90px 90px;
	margin-left:20px;
	margin-top:-20px;
}
#sett_scenes_left_name_edit span{
	margin-top:10px;
	margin-left:10px;
	DISPLAY:BLOCK;
	color:white;
	font-size:40px;
	overflow:hidden;
	
}
#sett_scenes_left_name_edit.selected{
	background-color:grey;
}
#sett_scenes_left_devices_label{
	float:left;
	width:500px;
	height:25px;
	margin-top:50px;
	color:white;
	font-size:18px;
}
#sett_scenes_left_devices{
	float:left;
	width:545px;
	height:181px;
	background-image:url('../../images/540/sceny/pozadi_nahled_zarizeni.png');
	padding:3px;
}
#sett_scene .device_image[dev_type="heating"]{
	background-image:url('../../images/540/zarizeni_mistnost/ventilace_off.png');
}
#sett_scene .device_image[dev_type="thermometer"]{
	background-image:url('../../images/540/zarizeni_mistnost/teplota_off.png');
}
#sett_scene .device_image[dev_type="light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scene .device_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scene .device_image[dev_type="rgb light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scene .device_image[dev_type="audio player"]{
	background-image:url('../../images/540/zarizeni_mistnost/obyvak_off.png');
}
#sett_scene .device_image[dev_type="blinds"]{
	background-image:url('../../images/540/zarizeni_mistnost/zaluzie_off.png');
}
#sett_scene .device_image[dev_type="room"]{
	background-image:url('../../images/540/zarizeni_mistnost/dum_on.png');
}
#sett_scenes_left_info_label{
	float:left;
	width:500px;
	height:25px;
	margin-top:50px;
	color:white;
	font-size:18px;
}
#sett_scenes_left_info{
	background-image:url('../../images/540/sceny/pozadi_info_zarizeni.png');
	float:left;
	width:551px;
	height:53px;
}
#sett_scenes_left_info .device_image{
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:
}
#sett_scenes_left_bottom{
	float:left;
	color:white;
	font-size:16px;
	margin-top:15px;
}
#sett_scenes_right_keyboard{
	margin-left:12px;
	margin-top:53px;
	overflow:hidden;
	height:460px;
	width:567px;
}
#sett_scenes_right_keyboard li{
	float:left;
	width:30px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:25px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_scenes_right_keyboard li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_scenes_right_keyboard li[char='backspace']{
	padding-left:5px;
	padding-top:10px;
	width:50px;
	height:50px;
	font-size:16px;
}
#sett_scenes_right_keyboard li[char=' ']{
	padding-left:8px;
	width:46px;
	font-size:16px;
}
#sett_scenes_right_keyboard li[char='shift']{
	padding-left:10px;
	width:44px;
	font-size:16px;
}
#sett_scenes_left_info .device_image{
	background-size:40px 40px;
	float:left;
	width:50px;
}
#sett_scenes_left_info .device_image[dev_type="heating"]{
	background-image:url('../../images/540/zarizeni_mistnost/ventilace_off.png');
}
#sett_scenes_left_info .device_image[dev_type="thermometer"]{
	background-image:url('../../images/540/zarizeni_mistnost/teplota_off.png');
}
#sett_scenes_left_info .device_image[dev_type="light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scenes_left_info .device_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scenes_left_info .device_image[dev_type="rgb light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png');
}
#sett_scenes_left_info .device_image[dev_type="audio player"]{
	background-image:url('../../images/540/zarizeni_mistnost/obyvak_off.png');
}
#sett_scenes_left_info .device_image[dev_type="blinds"]{
	background-image:url('../../images/540/zarizeni_mistnost/zaluzie_off.png');
}
#sett_scenes_left_info .device_image[dev_type="room"]{
	background-image:url('../../images/540/zarizeni_mistnost/dum_on.png');
}
.scn_inf_device_label{
	color:white;
	width:120px;
	text-overflow:ellipsis;
	font-size:16px;
	margin-top:20px;
	float:left;
	white-space: nowrap;
	overflow:hidden;
}

.scn_info_function{
	color:white;
	width:135px;
	text-overflow:ellipsis;
	font-size:16px;
	margin-top:20px;
	float:left;
	overflow:hidden;
	white-space: nowrap;
}
.gearImage{
	float:left;
	background-image:url('../../images/540/sceny/nastaveni.png');
	background-repeat:no-repeat;
	width:55px;
	height:55px;
}
#sett_scenes_left_config{
	float:left;
	width:551px;
	height:186px;
	background-image:url('../../images/540/sceny/pozadi_nahled_zarizeni.png');
}
.scn_button{
	background-image:url('../../images/540/sceny/buttno_off-03.png');
	width:275px;
	height:63px;	
	background-repeat:no-repeat;
	float:left;
}
.scn_button.selected{
	background-image:url('../../images/540/sceny/button_on-03.png');
}
.scn_conf_check{
	background-image:url('../../images/540/sceny/off-05.png');
	width:40px;
	height:40px;
	float:left;
	margin-top:12px;
	margin-left:15px;
}
.scn_conf_check[active]{
	background-image:url('../../images/540/sceny/on-05.png');
}
.scn_conf_check2{
	background-image:url('../../images/540/sceny/off-05.png');
	width:40px;
	height:40px;
	float:left;
	margin-top:12px;
	margin-left:15px;
}
.scn_conf_check2[active]{
	background-image:url('../../images/540/sceny/on-05.png');
}
.scn_conf_text{
	color:white;
	margin-top:25px;
	margin-left:15px;
	font-size: 16px;
	float:left;
}
#sett_scenes_left_config .brightness_container{
	margin-top:20px;
}
#sett_scenes_left_config .brightness_container_after{
	margin-top:15px;
}
#sett_scenes_left_config .brightness_container_before{
	margin-top:15px;
}
.brightness_conf{
	color:white;
	float:left;
	width:130px;
	overflow:hidden;
	margin-top:0px;
}
		
.brightness_conf_img{
	margin-top:0px;
	width:55px;
	height:55px;
	background-image:url('../../images/540/sceny/jas.png');
	float:left;
}
.brightness_conf_text{
	margin-top:20px;
	float:left;
	width:70px;
}
.brightness_div{
	color:white;
	font-size:16px;
	margin-top:15px;
	float:left;
	width:150px;
	white-space: nowrap;
}
.brightnessImage{
	background-image:url('../../images/540/sceny/jas.png');
	float:left;
	width:55px;
	height:55px;
	margin-top:-15px;
}
.brightnessText{
	float:left;
	white-space: nowrap;
	width:80px;
	margin-top:8px;
}
.brightnessText_span{
	white-space: nowrap;
}
#sceneSaveResult{
	float:left;
	color:red;
	font-size:24px;
	margin-top:15px;
	margin-left:200px;
}

/* nastaveni mistnosti */
.sett_room_config_top{
	float:left;
	width:320px;
	height:80px;
	color:gray;
	font-size:26px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/tabhost_off.png');
}
.sett_room_config_top.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/tabhost_on.png');
}
.sett_room_config_top_inner{
	float:left;
	margin-top:25px;
	margin-left:10px;
}
.sett_room_config_top_img{
	float:left;
	width:60px;
	height:60px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/pridat_off.png');
	margin-left:40px;
	margin-top:10px;
}
.sett_room_config_top.selected .sett_room_config_top_img{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/pridat_on.png');
}
.sett_room_config_top_img.pair{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/sparovat_off.png');
}
.sett_room_config_top.selected .sett_room_config_top_img.pair{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/sparovat_on.png');
}
.up_down_button{
	
}

#sett_room_config_bottom_devices_left{
	width:600px;
	float:left;
	margin-left:40px;
}
.sett_room_config_label{
	float:left;
	color:white;
	font-size:16px;
}
#sett_room_config_bottom_devices_name_label{
	margin-top:40px;
}
#sett_room_config_bottom_devices_name{
	float:left;
	clear:left;
	font-size:18px;
	margin-top:50px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/edit_nazev_zarizeni.png');
	width:440px;
	height:60px;
	margin-top:5px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_devices_name.selected{
	background-color:grey;
}
#sett_room_config_bottom_devices_name > span{
	display:block;
	color:white;
	font-size:24px;
	margin-top:18px;
	margin-left:10px;
}
#sett_room_config_bottom_devices_image{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
	background-repeat:no-repeat;
	width:90px;
	height:90px;
	margin-top:-26px;
	margin-left:30px;
	float:left;
	background-size:90px 90px;
}
.sett_room_config_left_short_edit_wrap{
	float:left;
	margin-right:34px;
	margin-top:10px;
}

.sett_room_config_left_middle_edit_wrap{
	float:left;
	margin-right:20px;
	margin-left:-5px;
	margin-top:10px;
}
.sett_room_config_short_edit{
	float:left;
	clear:left;
	width:165px;
	height:60px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/edit_Adresa_Nazev_Typ.png');
}
.sett_room_config_short_edit.selected{
	background-color:grey;
}
.sett_room_config_short_edit > span{
	white-space:nowrap;
}
.sett_room_config_short_edit > span{
	color:white;
	display:block;
	margin-top:18px;
	margin-left:10px;
	font-size:24px;
	overflow:hidden;
	padding-right:5px;
	text-overflow:ellipsis;
}
.sett_room_config_middle_edit{
	float:left;
	clear:left;
	width:370px;
	height:60px;
	background-image:url('../../images/540/konfigurace_kamery/edit_ip_adresa.png');
}
.sett_room_config_middle_edit.selected{
	background-color:grey;
}
.sett_room_config_middle_edit > span{
	white-space:nowrap;
}
.sett_room_config_middle_edit > span{
	color:white;
	display:block;
	margin-top:18px;
	margin-left:10px;
	font-size:24px;
	overflow:hidden;
	padding-right:5px;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_devices_actor_id{
	
}
#sett_room_config_bottom_devices_actor_name{
	
}
#sett_room_config_bottom_devices_device_type{
	
}
#sett_room_config_bottom_devices_right{
	width:600px;
	float:left;
	margin-left:40px;
	margin-top:30px;
}
#sett_room_config_bottom_devices_right_devices{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_right_devices li{
	float:left;
	width:264px;
	overflow:hidden;
	text-oveflow:ellipsis;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:10px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_devices_right_dev_types{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_right_dev_types li{
	float:left;
	width:264px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:10px;
	padding-top:18px;
	font-size:24px;
	color:white;
	overflow:hidden;
	text-oveflow:ellipsis;
}
#sett_room_config_bottom_devices_right_prod_types{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_right_prod_types li{
	float:left;
	width:264px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:10px;
	padding-top:18px;
	font-size:24px;
	color:white;
	overflow:hidden;
	text-oveflow:ellipsis;
}
#sett_room_config_bottom_devices_right_abc{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_right_abc li{
	float:left;
	width:30px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:25px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_devices_right_abc li[char=" "]{
	padding-left:8px;
	width:46px;
	font-size:16px;
}
#sett_room_config_bottom_devices_right_abc li[char="shift"]{
	padding-left:10px;
	width:45px;
	font-size:16px;
}
#sett_room_config_bottom_devices_right_abc li[char="backspace"]{
	padding-left:5px;
	padding-top:10px;
	width:50px;
	height:50px;
	font-size:16px;
}
#sett_room_config_bottom_devices_right_hexabc{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_right_hexabc li{
	float:left;
	width:30px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:25px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_devices_right_hexabc li[char="backspace"]{
	padding-left:5px;
	padding-top:10px;
	width:50px;
	height:50px;
	font-size:16px;
}
#sett_room_config_bottom_devices_right_devices li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_right_abc li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_right_hexabc li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_right_dev_types li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_right_prod_types li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_right_actions{
	margin-top:40px;
}
#sett_room_config_bottom_devices_right_actions > span{
	margin-right:145px;
}
#sett_room_config_bottom_devices_image[dev_type="heating"]{
	background-image:url('../../images/540/ikony_nahled_zarizeni/ventilace_on.png'),url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
}
#sett_room_config_bottom_devices_image[dev_type="thermometer"] {
	background-image:url('../../images/540/ikony_nahled_zarizeni/teplota_on.png'),url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
}
#sett_room_config_bottom_devices_image[dev_type="light"]{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png'),url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
}
#sett_room_config_bottom_devices_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png'),url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
}
#sett_room_config_bottom_devices_image[dev_type="rgb light"]{
	background-image:url('../../images/540/ikony_nahled_zarizeni/zarovka_on.png'),url('../../images/540/konfigurace_mistnost_zarizeni/Devices/nahled_ikony.png');
}
/* Cameras */
#sett_room_config_bottom_devices_cams_left{
	width:600px;
	float:left;
	margin-left:40px;
	float:left;
	clear:left;
}
#sett_room_config_bottom_devices_cams_name_label{
	margin-top:40px;
}
#sett_room_config_bottom_devices_cams_name{
	float:left;
	clear:left;
	font-size:18px;
	margin-top:50px;
	background-image:url('../../images/540/konfigurace_kamery/edit_nazev_kamery.png');
	width:440px;
	height:60px;
	margin-top:5px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_devices_cams_name.selected{
	background-color:grey;
}
#sett_room_config_bottom_devices_cams_name > span{
	display:block;
	color:white;
	font-size:24px;
	margin-top:18px;
	margin-left:10px;
}
#sett_room_config_bottom_devices_cams_login_label{
	margin-top:10px;
	clear:left;
}
#sett_room_config_bottom_devices_cams_login{
	float:left;
	clear:left;
	font-size:18px;
	margin-top:50px;
	background-image:url('../../images/540/konfigurace_kamery/edit_prihlasovaci_jmeno_heslo.png');
	width:550px;
	height:60px;
	margin-top:5px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_devices_cams_login.selected{
	background-color:grey;
}
#sett_room_config_bottom_devices_cams_login > span{
	display:block;
	color:white;
	font-size:24px;
	margin-top:18px;
	margin-left:10px;
}
#sett_room_config_bottom_devices_cams_pass_label{
	margin-top:10px;
	clear:left;
}
#sett_room_config_bottom_devices_cams_pass{
	float:left;
	clear:left;
	font-size:18px;
	margin-top:50px;
	background-image:url('../../images/540/konfigurace_kamery/edit_prihlasovaci_jmeno_heslo.png');
	width:550px;
	height:60px;
	margin-top:5px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_devices_cams_pass.selected{
	background-color:grey;
}
#sett_room_config_bottom_devices_cams_pass > span{
	display:block;
	color:white;
	font-size:24px;
	margin-top:18px;
	margin-left:10px;
}
#sett_room_config_bottom_devices_cams_image{
	background-image:url('../../images/540/konfigurace_kamery/kamera_on.png'), url('../../images/540/konfigurace_kamery/nahled_ikony.png');
	background-repeat:no-repeat;
	width:90px;
	height:90px;
	margin-top:-26px;
	margin-left:30px;
	float:left;
	background-size:90px 90px;
}

#sett_room_config_bottom_devices_cams_right{
	width:600px;
	float:left;
	margin-left:40px;
	margin-top:30px;
}
#sett_room_config_bottom_devices_cams_right_devices{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_cams_right_devices li{
	float:left;
	width:264px;
	overflow:hidden;
	text-oveflow:ellipsis;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:10px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_devices_cams_right_devices li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_cams_right_cam_types{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_cams_right_cam_types li{
	float:left;
	width:264px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:10px;
	padding-top:18px;
	font-size:24px;
	color:white;
	overflow:hidden;
	text-oveflow:ellipsis;
}
#sett_room_config_bottom_devices_cams_right_cam_types li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_cams_right_abc{
	float:left;
	clear:left;
	width:550px;
	height:362px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_devices_cams_right_abc li{
	float:left;
	width:30px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:25px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_devices_cams_right_abc li.selected{
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_on.png');
}
#sett_room_config_bottom_devices_cams_right_abc li[char=" "]{
	padding-left:8px;
	width:46px;
	font-size:16px;
}
#sett_room_config_bottom_devices_cams_right_abc li[char="shift"]{
	padding-left:10px;
	width:45px;
	font-size:16px;
}
#sett_room_config_bottom_devices_cams_right_abc li[char="backspace"]{
	padding-left:5px;
	padding-top:10px;
	width:50px;
	height:50px;
	font-size:16px;
}

/* Floorplan */
#sett_room_config_bottom_floorplan_left_wrap{
	margin-left:40px;
	margin-top:30px;
	float:left;
}
#sett_room_config_bottom_floorplan_right_wrap{
	margin-left:70px;
	margin-top:30px;
	float:left;
}
#sett_room_config_bottom_floorplan_left_label{
	float:left;
	color:white;
	font-size:16px;
}
#sett_room_config_bottom_floorplan_left{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Floorplan/bcg_button.png');
	width:548px;
	height:360px;
	clear:left;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_floorplan_right_label{
	float:left;
	color:white;
	font-size:16px;
}
#sett_room_config_bottom_floorplan_right{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Floorplan/bcg_floorplan.png');
	width:550px;
	height:362px;
	clear:left;

}
.config_floorplan{
	width:546px;
	height:358px;
	background-size:546px 358px;
	float:left;
	display:block;
	margin-top:2px;
	margin-left:2px;
}
#sett_room_config_bottom_floorplan_actions{
	float:left;
	clear:left;
	margin-top:10px;
}
.floorplan_action{
	float:left;
	color:white;
	font-size:16px;
}
#sett_room_config_bottom_floorplan_left li{
	width:254px;
	height:45px;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Floorplan/button_off.png');
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
}
#sett_room_config_bottom_floorplan_left li.selected{
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Floorplan/button_on.png');
}

/* Config Rooms */
#sett_room_config_bottom_room_left{
	float:left;
	margin-left:40px;
	width:570px;
}
.sett_room_config_bottom_room_label{
	float:left;
	color:white;
	font-size:16px;
	clear:left;
	margin-top:30px;
}
.sett_room_config_bottom_room_edit{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/edit_nazev_vyber.png');
	float:left;
	width:550px;
	height:60px;
	clear:left;
}
.sett_room_config_bottom_room_edit.selected{
	background-color:grey;
}
.sett_room_config_bottom_room_edit > span{
	display:block;
	color:white;
	font-size:22px;
	margin-top:15px;
	margin-left:10px;
}
#sett_room_config_bottom_room_rooms{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/bcg_button.png');
	width:548px;
	height:181px;
	clear:left;
	padding-top:2px;
	padding-left:2px;
	overflow:hidden;
}
#sett_room_config_bottom_room_rooms li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_room_rooms li.selected{
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/button_on.png');
}

#sett_room_config_bottom_room_floorplans{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/bcg_button.png');
	width:548px;
	height:181px;
	clear:left;
	padding-left:2px;
	padding-top:2px;
}
#sett_room_config_bottom_room_right{
	float:left;
	margin-left:50px;
}
#sett_room_config_bottom_room_right_floorplan{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/bcg_floorplan.png');
	width:550px;
	height:362px;
	clear:left;
}
#sett_room_config_bottom_room_actions{
	margin-top:20px;
	float:left;
}
.sett_room_config_bottom_room_action{
	margin-right:100px;
	display:block;
	float:left;
}
.config_rooms_floorplan{
	width:548px;
	height:360px;
	margin-left:2px;
	margin-top:2px;
	background-size:548px 360px;
}
#sett_room_config_bottom_room_abc{
	float:left;
	clear:left;
	width:548px;
	height:181px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/bcg_button.png');
	background-repeat:no-repeat;
	overflow:hidden;
	padding-top:2px;
	padding-left:2px;
}
#sett_room_config_bottom_room_abc li{
	float:left;
	width:29px;
	height:42px;
	background-image:url('../../images/540/konfigurace_mistnost_zarizeni/Devices/button_off.png');
	padding-left:25px;
	padding-top:18px;
	font-size:24px;
	color:white;
}
#sett_room_config_bottom_room_abc li.selected{
	background-color:grey;
}
#sett_room_config_bottom_room_abc li[char=" "]{
	padding-left:8px;
	width:45px;
	font-size:16px;
}
#sett_room_config_bottom_room_abc li[char="shift"]{
	padding-left:10px;
	width:44px;
	font-size:16px;
}
#sett_room_config_bottom_room_abc li[char="backspace"]{
	padding-left:5px;
	padding-top:10px;
	width:49px;
	height:50px;
	font-size:16px;
}

#sett_room_config_bottom_room_floorplans li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_room_floorplans li.selected{
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/Rooms/button_on.png');
}

/* Pairing */
#sett_room_config_bottom_pair_left{
	float:left;
	margin-left:40px;
	width:570px;
}
#sett_room_config_bottom_pair_left_label1{
	float:left;
	color:white;
	font-size:16px;
	clear:left;
	margin-top:30px;
	width:276px;
}
#sett_room_config_bottom_pair_left_label2{
	float:left;
	color:white;
	font-size:16px;
	margin-top:30px;

}
#sett_room_config_bottom_pair_left_frame{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/bcg_button.png');
	width:548px;
	height:360px;
	clear:left;
	padding-top:2px;
	padding-left:2px;
	overflow:hidden;
}
#sett_room_config_bottom_pair_left_rooms{
	float:left;
	width:274px;
	height:362px;
	position:relative;
}
#sett_room_config_bottom_pair_left_devices{
	float:left;
	width:274px;
	height:362px;
	position:relative;
}
#sett_room_config_bottom_pair_left_rooms li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_pair_left_rooms li.selected{
	background-color:gray;
}
#sett_room_config_bottom_pair_left_devices li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#sett_room_config_bottom_pair_left_devices li.selected{
	background-color:gray;
}
#sett_room_config_bottom_pair_right{
	float:left;
	margin-left:50px;
}
#sett_room_config_bottom_pair_right_label{
	float:left;
	color:white;
	font-size:16px;
	clear:left;
	margin-top:30px;
}
#sett_room_config_bottom_pair_right_floorplan{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/bcg_floorplan.png');
	width:550px;
	height:362px;
	clear:left;
}
#sett_room_config_bottom_pair_right_actions{
	margin-top:20px;
	float:left;
	clear:left;
	color:white;
}
.sett_dev_label{
	width:200px;
	overflow: hidden;
	text-overflow:ellipsis;
	float:left;
	white-space: nowrap;
}
.sett_dev_check{
	width:40px;
	height:40px;
	float:left;
	margin-top:-5px;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/off-05.png');
}
.sett_dev_check[checked]{
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/on-05.png');
}
.sett_room_floorplan{
	width:550px;
	height:362px;
	position:relative;
	background-size:550px 362px;
}
.sett_dev_image{
	width:50px;
	height:50px;
	background-image:url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
	position:absolute;
	display:block;
	background-size:50px 50px;
}
.sett_dev_image[dev_type="heating"]{
	background-image:url('../../images/540/zarizeni_mistnost/ventilace_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="thermometer"]{
	background-image:url('../../images/540/zarizeni_mistnost/teplota_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="dimmed light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="rgb light"]{
	background-image:url('../../images/540/zarizeni_mistnost/zarovka_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="audio player"]{
	background-image:url('../../images/540/zarizeni_mistnost/obyvak_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="blinds"]{
	background-image:url('../../images/540/zarizeni_mistnost/zaluzie_off.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
.sett_dev_image[dev_type="room"]{
	background-image:url('../../images/540/zarizeni_mistnost/dum_on.png'),url('../../images/540/zarizeni_mistnost/dlazdice-01.png');
}
#camera_image{
	height:675px;
	margin-top:11px;
	margin-left:60px;

}
#button_info{
	position:absolute;
	width: 620px;
	position:absolute;
	bottom:80px;
	color:white;
}
#cam_right{
	position:absolute;
	right:0;
	top:11px;
}
#cam_right_sub{
	float:left;
	width:274px;
	height:600px;
	position:relative;
}
#cam_right_sub li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#cam_right_sub li.selected{
	background-color:gray;
}
#cam_right_sub li{
	float:left;
	background-image: url('../../images/540/konfigurace_mistnost_zarizeni/sett/button_off.png');
	width:254px;
	height:45px;
	padding-top:15px;
	padding-left:20px;
	font-size:22px;
	color:white;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
}
#elan_address{
	float:left;
}